*{
    margin: 0;padding: 0;
}
#main{
    height: 100vh;

}

.themeChanger button{
   position: absolute;
   right: 5px;
   top:5px;
}
.light-theme{
    color: black;
    transition: 1.5s;
    background-color: aliceblue;
}
.dark-theme{
   
    color: white;
    transition: 3s;
    background-color: #3e3939;
}